.home-img1,
.home-img2,
.home-img3,
.home-img4 {
    height: 70vh;
}

.custom-carousel {
    position: absolute;
    top: 17%;
    left: 4%;
    width: 62%;
    height: 70vh;
}
.controls {
    position: absolute;
    top: 92%;
    left: 85%;
    gap: 18%;
    width: 10%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bi-arrow-left,
.bi-arrow-right {
    color: rgb(253, 253, 253); /* Change the color as needed */
    width: 70%;
    font-size: 38px;
    cursor: pointer;
}
.bi-arrow-left:hover,
.bi-arrow-right:hover {
    color: rgb(154, 154, 154);
}
